// ==========================================================================
//
// FORMS
//
// Description: Base form styles
//
// ==========================================================================
// ==========================================================================
// # VARIABLES & MIXINS
// ==========================================================================

@mixin input-size {
    display: flex;
    max-width: 240px;
    width: 100%;
}

@mixin form-input {
    @include get-bgc(primary, light);
    @include input-size;
    border: 0;
    padding: 12px 15px;

    &:focus { @include active-input; }
}


@mixin active-input {
    outline: solid 2px get-color(black, light);
}


@mixin input-error {
    // .form__label { @include get-color(error); }
    .form__input { border: solid 2px get-color(error); }
}

@mixin input-dob-error {
    .form-dob__input { border: solid 2px get-color(error); }
}

@mixin remove-number-arrows {
    /* Hide HTML5 Up and Down arrows. */
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}




// ==========================================================================
// # RESET
// ==========================================================================

fieldset { padding: 0; }





// ==========================================================================
// # BASE
// ==========================================================================

// .form {}

.form__inner {
    &--reduced {
        margin: $half-spacing-unit auto 0;
        max-width: 360px;
    }
}


.form__input-container {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) { margin-bottom: $half-spacing-unit; }

    @include mq(small) {
        align-items: center;
        flex-direction: row;
    }

    .form--christmas-modal & {
        @include mq(small) {
            justify-content: space-between;
        }
    }

    // @TODO: Review this as bit shit... Useage is to center
    //        the submit input
    &--center[class] {
        justify-content: center;
    }


    &--error { @include input-error; }
}


.form__label {
    @include wf-primary;
    margin-bottom: $quarter-spacing-unit;
    text-transform: uppercase;

    @include mq(small) {
        margin-bottom: 0;
        margin-right: $quarter-spacing-unit;
    }
}

.form__example {
    @include fsz(tiny);
    @include get-color(grey, dark);
}

.form__input {
    @include form-input;

    &:not(&--submit) {
        flex-grow: 1;
    }

    // &--text {}
    &--submit {
        @include get-bgc(primary);
        @include wf-primary;
        border: solid 3px get-color(primary);
        max-width: fit-content;
        padding: 0.85rem 1.25rem;
        text-transform: uppercase;
        transition: background ease-in-out $transition-length;

        &:focus {
            background-color: transparent;
            outline: 0;
        }
        @include mq(medium) {
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.invalid-feedback-wrapper {
    @include input-size;
    @include get-color(error);
    margin-bottom: 14px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: -14px;
    @include mq(small) {
        margin-left: auto;
        margin-right: 0;
    }
}





// ==========================================================================
// # ELEMENT: DOB FIELDS
// ==========================================================================

.form-dob {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include mq($until: small) { flex-direction: column; }

    // &--error { @include input-error; }

    // &--error-day { @include input-dob-error; }
    //
    // &--error-month { @include input-dob-error; }
    //
    // &--error-year { @include input-dob-error; }
}

.form-dob__list {
    display: flex;
    max-width: 240px;
    width: 100%;
}

.form-dob__item {
    display: flex;
    flex-direction: column;
    @include remove-number-arrows;

    .form__input-container--error & { @include input-dob-error; }

    &:not(:last-of-type) {
        margin-right: $quarter-spacing-unit;
    }

    &--day {
        width: 5ch;

        .form-dob--error-day & { @include input-dob-error; }
    }


    &--month {
        width: 5ch;

        .form-dob--error-month & { @include input-dob-error; }
    }

    &--year {
        width: 8ch;

        .form-dob--error-year & { @include input-dob-error; }
    }
}

.form-dob__label {
    @include get-color(black, light);
    @include fsz(tiny);
    @include wf-primary;
    margin-bottom: $quarter-spacing-unit / 2;
}

.form-dob__input {
    @include form-input;
    padding: $quarter-spacing-unit ($quarter-spacing-unit / 2);

    &--invalid { border: solid 2px get-color(error); }
}





// ==========================================================================
// # ELEMENT: CUSTOM SELECT
// ==========================================================================

.form__input--select {
    padding: 0;
    @include custom-select;
}





// ==========================================================================
// # ELEMENT: CUSTOM CHECKBOX & RADIO BUTTON
// ==========================================================================

.form__custom-input {
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem;
    position: relative;

    // @include mq(medium) {
    //     &:hover .form__custom-input-indicator {
    //         color: #fff;
    //         background-color: #ccc;
    //     }
    // }

    .form__input-container--error & {
        .form__custom-input-indicator { outline: solid 2px get-color(error); }
    }

    input {
        opacity: 0;
        position: absolute;
        /* Put the input behind the label so it doesn't overlay text */
        z-index: -1000;

        &:focus ~ .form__custom-input-indicator {
            @include active-input;
        }

        /* Checked state */
        &:checked ~ .form__custom-input-indicator {
            @include get-color(white);
            @include get-bgc(primary);
        }
        /* Active */
        &:active ~ .form__custom-input-indicator {
            @include get-bgc(primary, light);
            @include get-color(white);
        }
    }
}


.form__custom-input-indicator {
    @include get-bgc(grey, light);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 65% 65%;
    display: block;
    height: 1rem;
    left: 0;
    outline-offset: 2px;
    position: absolute;
    top: 0;
    user-select: none;
    width: 1rem;
}


// Checkbox modifiers
.form__input--checkbox {
    // ~ .form__custom-input-indicator {}

    &:checked ~ .form__custom-input-indicator {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.02 20.56' fill='%23#{get-color-for-svg(black, light)}' %3E%3Cpath d='M9.23 20.56L6.46 17.8 0 11.33l2.77-2.76L9.23 15l15-15L27 2.77z'/%3E%3C/svg%3E%0A");
    }
}


//  Radio modifiers
.form__input--radio {
    // ~ .form__custom-input-indicator { border-radius: 50%; }

    &:checked ~ .form__custom-input-indicator {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' fill='%23#{get-color-for-svg(black, light)}' %3E%3Ccircle cx='25' cy='25' r='25'/%3E%3C/svg%3E");
    }
}
